tf_logs
*.pyc
fullres*
__pycache__
data
*.pt
local_train.sh
capture
capture/*
json
output
*.so
*.egg-info
lib/pointgroup_ops/build
lib/Pointnet2/
weights
*.pth
*.pt
*.log
*.json
mmdetection3d/
projects/build/
.vscode
result
kitti
nuscenes
nuScenes-Occupancy
*.json
*.log
*.png
backup/
collect_data/
